body {
  background-image: url("../images/pexels-kushal-kumar-13079565\ \(1\).jpg");
  background-size: 1920px 1080px;
  opacity: 0.6;
}
.border {
  background-color: #fff;
  width: 660px;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid gray;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  margin: 50px auto;
  padding: 5px;
}
#search {
  margin-top: 30px;
}
.search-bar {
  margin-left: 48px;
  width: 370px;
  border: 2px solid #1f6f78;
  border-radius: 15px;
  padding: 5px 10px;
}
.search-icon {
  position: relative;
  right: 35px;
}
.search-button {
  font-size: 17px;
  width: 80px;
  border: 1px solid #118a7e;
  border-radius: 20px;
  background-color: #118a7e;
  color: #fff;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
}
.search-button:hover {
  opacity: 0.7;
}
.current-button {
  font-size: 17px;
  padding: 5px 10px;
  width: 80px;
  border: 1px solid #3baea0;
  border-radius: 20px;
  background-color: #3baea0;
  color: #fff;
  transition: all 200ms ease-in-out;
}
.current-button:hover {
  opacity: 0.7;
}
.position {
  position: relative;
  bottom: 10px;
}
.city-name {
  margin: 5px 52px;
  font-size: 20px;
  color: #9ba6a5;
  list-style: none;
}
.list-styling {
  font-size: 20px;
  color: #9ba6a5;
  list-style: none;
  margin: 0px 20px;
}
.spacing {
  margin: 0px 30px;
}
.u-styling1 {
  color: #757a79;
  list-style: none;
}

.days {
  text-align: center;
  color: #757a79;
  margin-bottom: 20px;
}
.f-size {
  font-weight: bold;
}
#deg {
  font-size: 30px;
}
.image {
  margin-left: 5px;
}
